.title-link {
    cursor: pointer;
    color: inherit;
    /*normaltextcolor*/text-decoration: none;
    /*nounderlineinitially*/transition: color 0.1s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
}

.title-link:hover {
    color: #0e8bdf;
    text-decoration: underline;
}

.response-nav {
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
}