.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.new_chk{
    background-color: #0E8BDF;
    color: #fff;
    border-radius: 12.5rem;
    padding: 0.49656rem 0.86894rem;
    -webkit-border-radius: 12.5rem;
    -moz-border-radius: 12.5rem;
    -ms-border-radius: 12.5rem;
    -o-border-radius: 12.5rem;
    cursor: pointer;
    margin-right : 1rem;
    border-color: transparent;
    font-size: large;
}

.delete-btn{
    background-color: #FFECEC;
    color:#D13636;
    padding:5px 10px;
    cursor: pointer;
    border-radius: 12.5rem;
    border-color: #FFECEC;
}